@import "reset.css";

/* media query defaults if I need them */
/* sm (640px)	max-width: 640px;
md (768px)	max-width: 768px;
lg (1024px)	max-width: 1024px;
xl (1280px)	max-width: 1280px;
2xl (1536px)	max-width: 1536px; */

/* custom variables and theming */
:root {
  /* colors */
  --zinc100: #f4f4f5;
  --zinc800: #27272A;
  /* dark bg accents */
  --zinc300: #D4D4D8;
  --butterscotch: #DA9B52;
  --shamrock: #619A6E;
  /* light bg accents */
  --zinc600: #52525b;
  --umber: #966538;
  --fern: #4A7A56;
  /* fonts */
  --sans: "Figtree Variable", sans-serif;
  --display: "Noto Serif Variable", serif;
}

[data-theme="dark"] {
  --background: var(--zinc800);
  --text: var(--zinc100);
  --accentGray: var(--zinc300);
  --accentTan: var(--butterscotch);
  --accentGreen: var(--shamrock);
}

[data-theme="light"] {
  --background: var(--zinc100);
  --text: var(--zinc800);
  --accentGray: var(--zinc600);
  --accentTan: var(--umber);
  --accentGreen: var(--fern);
}

/* global site styles */
body {
  font-family: var(--sans);
  background: var(--background);
  color: var(--text);
  font-size: 18px;
}

h1,
h2,
h3 {
  font-family: var(--display);
  color: var(--accentTan);
}
