---
import Header from "../components/Header.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Career Chronicles">
  <Header />
  <h1>Career Chronicles</h1>
  <p>
    Write your story, the way only you can. Know your skills and assemble them
    like building blocks to highlight what makes you special.
  </p>
</RootLayout>
