---
import RootLayout from "../layouts/RootLayout.astro";
import { supabase } from "../lib/supabase";

const { cookies } = Astro;
let isLoggedIn = false;
let username = "";

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (error) {
    cookies.delete("sb-access-token", {
      path: "/",
    });
    cookies.delete("sb-refresh-token", {
      path: "/",
    });

    return redirect("/signin");
  }

  isLoggedIn = true;
  if (data.user?.user_metadata.displayname) {
    username = data.user.user_metadata.displayname;
  } else if (data.user?.email) {
    const atIndex = data.user.email.indexOf('@');
    username = data.user.email.slice(0, atIndex);
  }
}
---

<RootLayout title="Career Chronicles">
  {
    !isLoggedIn && (
      <h1>Career Chronicles</h1>
      <p>
        Write your story, the way only you can. Know your skills and assemble
        them like building blocks to highlight what makes you special.
      </p>
    )
  }
  {
    isLoggedIn && (
      <h1>Hi <span class="name">{username}!</span></h1>
      <p>This will be your dashboard, and probably your daily log too. It'll be great.</p>
    )
  }
</RootLayout>

<style>
  h1 {
    color: var(--accentTan);
    font-size: 3rem;
    text-align: center;
  }

  p {
    text-align: center;
    max-width: 60dvw;
    margin: 0 auto;
  }

  .name {
    text-wrap: nowrap;
  }
</style>
