---
import RootLayout from "../layouts/RootLayout.astro";
import { supabase } from "../lib/supabase";

const { cookies } = Astro;
let isLoggedIn = false;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  const { data, error } = await supabase.auth.setSession({
    refresh_token: refreshToken.value,
    access_token: accessToken.value,
  });

  if (error) {
    cookies.delete("sb-access-token", {
      path: "/",
    });
    cookies.delete("sb-refresh-token", {
      path: "/",
    });

    return redirect("/signin");
  }

  isLoggedIn = true;
}
---

<RootLayout title="Career Chronicles" userStatus={isLoggedIn}>
  <h1>Career Chronicles</h1>
  {
    !isLoggedIn && (
      <p>
        Write your story, the way only you can. Know your skills and assemble
        them like building blocks to highlight what makes you special.
      </p>
    )
  }
  {
    isLoggedIn && (
      <p>All the future details will be here soon. You're gonna love it.</p>
    )
  }
</RootLayout>

<style>
  h1 {
    color: var(--accentTan);
    font-size: 3rem;
    text-align: center;
  }

  p {
    text-align: center;
    max-width: 60dvw;
    margin: 0 auto;
  }
</style>
