---
import type { UserMetadata } from "@supabase/supabase-js";
import RootLayout from "../layouts/RootLayout.astro";
import { supabase } from "../lib/supabase";
import { POST } from "./api/auth/update.ts";
import PostForm from "../components/PostForm.astro";
import FormInput from "../components/FormInput.astro";

const { cookies } = Astro;
const accessToken = cookies.get("sb-access-token");
if (!accessToken) {
  return Astro.redirect("/signin");
}

const {
  data: { user },
} = await supabase.auth.getUser();

let metadata: UserMetadata = user?.user_metadata ?? {};
let email = user?.email ?? "";

if (Astro.request.method === "POST") {
  try {
    let response = await POST(Astro);
    const resData = await response.json();
    if (response.ok) {
      // TODO: add a toast message here to indicate the update happened
      console.log({ resData });
    } else {
      throw new Error(resData.message);
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<RootLayout title="Profile">
  <h1>Profile</h1>
  <p>Logged in with the email: <span class="email">{email}</span></p>
  <PostForm
    class="name-form"
    submitBtnLabel="Save changes"
    cancelBtnLabel="Cancel"
  >
    <FormInput
      label="Display name"
      type="text"
      id="displayname"
      placeholder={metadata.displayname || ""}
    />
  </PostForm>
  <form action="/api/auth/signout" class="signout">
    <button type="submit">Sign out</button>
  </form>
</RootLayout>

<style>
  .email {
    margin-left: 0.5rem;
    color: var(--accentGreen);
  }

  .signout button {
    padding: 0.5rem 0;
    font-weight: bold;
    border-color: var(--accentGray);
    background-color: var(--accentGray);
    color: var(--background);
    inline-size: 8rem;
  }

  @media (min-width: 768px) {
    h1,
    p {
      max-width: 45dvw;
      margin: 0 auto;
    }

    .signout {
      max-width: 45dvw;
      margin: 0.5rem auto;
    }
  }
</style>
