---
import FormInput from "../components/FormInput.astro";
import PostForm from "../components/PostForm.astro";
import RootLayout from "../layouts/RootLayout.astro";
import { POST } from "./api/auth/register.ts";

if (Astro.locals.isSignedIn) {
  return Astro.redirect("/");
}

if (Astro.request.method === "POST") {
  try {
    let response = await POST(Astro);
    const resData = await response.json();
    if (response.ok) {
      return Astro.redirect("/verify");
    } else {
      throw new Error(resData.message);
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<RootLayout title="Create an account">
  <h1>Create a new account</h1>
  <p class="info">
    Already have an account? <a href="/signin" class="signin">Sign in</a>
  </p>
  <PostForm submitBtnLabel="Create Account">
    <FormInput label="Display Name" type="text" id="displayname" />
    <FormInput
      label="Email"
      type="email"
      id="email"
      required
      autocomplete="on"
    />
    <FormInput
      label="Password"
      type="password"
      id="password"
      required
      autocomplete="on"
      minlength="8"
    />
    <p class="help">Passwords must be at least 8 characters.</p>
  </PostForm>
</RootLayout>

<style>
  h1 {
    text-align: center;
    font-size: 1.75rem;
  }

  .info {
    text-align: center;
    margin-bottom: 1rem;
  }

  .signin {
    color: var(--accentGreen);
    margin-left: 0.5rem;
  }

  .help {
    font-size: 0.875rem;
    font-style: italic;
    text-align: center;
    margin-top: -0.5rem;
  }
</style>
