---
import FormInput from "../components/FormInput.astro";
import PostForm from "../components/PostForm.astro";
import RootLayout from "../layouts/RootLayout.astro";
import { POST } from "./api/auth/signin.ts";

const { cookies } = Astro;

const accessToken = cookies.get("sb-access-token");
const refreshToken = cookies.get("sb-refresh-token");

if (accessToken && refreshToken) {
  return Astro.redirect("/");
}

if (Astro.request.method === "POST") {
  try {
    let response = await POST(Astro);
    const resData = await response.json();
    if (response.ok) {
      return Astro.redirect("/");
    } else {
      throw new Error(resData.message);
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<RootLayout title="Sign in">
  <h1>Sign in</h1>
  <p class="info">
    New here? <a href="/register" class="info-link">Create an account</a>
  </p>
  <PostForm submitBtnLabel="Login">
    <FormInput
      label="Email"
      type="email"
      id="email"
      required
      autocomplete="on"
    />
    <FormInput
      label="Password"
      type="password"
      id="password"
      required
      autocomplete="on"
      minlength="8"
    />
  </PostForm>
</RootLayout>

<style>
  h1 {
    text-align: center;
    font-size: 1.75rem;
  }

  .info {
    text-align: center;
    margin-bottom: 1rem;
  }

  .info-link {
    color: var(--accentGreen);
    margin-left: 0.5rem;
  }
</style>
