---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout title="Verify">
  <h2>Thanks for signing up!</h2>
  <p>
    You should have a verification email in your inbox. Please verify your
    account then try to <a href="/signin">sign in.</a>
  </p>
</RootLayout>

<style>
  p a {
    color: var(--accentGreen);
  }
</style>
